<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/bienvenido']">Bienvenido<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/quiensoy']">Quien soy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row text-white border">
    <div class="col">
      <h2>Repositorio Github</h2>
      <a href="https://github.com/SebastianLedesma" target="_blank">Repo de GitHub</a>
    </div>
  </div>
</div>
