<!--<div class="login">
  <input type="text" placeholder="username" id="username" [(ngModel)]="usuario">
<input type="password" placeholder="password" id="password" [(ngModel)]="password">
<input type="button" value="Log In" (click)="validarUsuario()">
</div>
<div class="shadow"></div>-->

<div class="container mt-5">
  <div class="row">
      <div class="col-md-6 mx-auto">
          <!--<div id="ventanaModal">
              <div class="alert alert-info alert-dismissible fade show" role="alert">Para fines prácticos puede iniciar sesión con estos datos.<strong>DNI:11000500 / APELLIDO:Soria</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          </div>-->
          <div class="card">
              <div class="card-header bg-warning">
                  <h4 class="text-center">Login de usuario</h4>
              </div>
              <div class="card-body">
                      <div class="form-group">
                          <label for="usuario">Usuario:</label>
                          <input class="form-control" type="text" name="usuario" id="usuario"  [(ngModel)]="usuario" placeholder="Ingrese su nombre de usuario">
                      </div>
                      <div class="form-group">
                          <label for="password">Contraseña:</label>
                          <input class="form-control" type="password" name="password" id="password"
                          [(ngModel)]="password" placeholder="Ingrese su contraseña">
                      </div>
                      <button (click)="validarUsuario()" class="btn btn-dark w-100" type="button" name="Log In" >Log In</button>
                  <a class="btn btn-dark w-100 mt-1" (click)="autocompletar()" type="button" name="btnVolver">Autocompletar</a>
              </div>
          </div>
      </div>
  </div>
</div>
