<!--<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/bienvenido']">Bienvenido<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/quiensoy']">Quien soy</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col text-center text-white border">
      <h2>Ricardo Ledesma</h2><br>
      <p>Estudiante de la carrera Técnico universitario en programación.</p>
    </div>
  </div>
</div>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/bienvenido']">Bienvenido<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/quiensoy']">Quien soy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row mt-5">
    <div class="col text-center text-white border">
      <h2>Ricardo Ledesma</h2><br>
      <p>Estudiante de la carrera Técnico universitario en programación.</p>
    </div>
  </div>
</div>
